.bar:hover {
    fill: rgb(23, 117, 108);
}

#tooltip {
    border: 3px solid turquoise;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: center;
    background-color: white;
}